@model LibraryApp.Models.LoginModel
@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
	ViewBag.Title = "Login";
}
<form method="post" asp-action="Login" asp-controller="Account">
	<div class="container register">
		<div class="row">
			<div class="col-md-3 register-left"></div>
			<div class="col-md-9 register-right">
				<div class="tab-content">
					<div class="col-md-6">

						<div class="col-md-6 ">
							<div class="form-group mb-3">
								<label asp-for="Email" class="form-label"></label>
								<span asp-validation-for="Email" class="text-danger"></span>
								<input asp-for="Email" class="form-control" placeholder="Email" type="text" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mb-3">
								<label asp-for="Password" class="form-label"></label>
								<span asp-validation-for="Password" class="text-danger"></span>
								<input asp-for="Password" class="form-control" placeholder="Password" type="password" />
							</div>
						</div>
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" asp-for="KeepLogged" /> Remember me
							</label>
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-primary">Login</button>
							<label class="alert-danger">@ViewBag.Error</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<div>
	<a asp-action="Register">Register</a> |
	<a asp-action="UserLogin">Admin Login</a>
</div>