@model IEnumerable<Library7.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="IndxTbl">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Lastname
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                City
            </th>
            <th>
               Address
            </th>
            <th>
                Zip
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        var table = $('#IndxTbl').DataTable({
			ajax: {
				url: '@Url.Action("GetAll", "Member")',
				dataSrc: '',
			},
			columns: [
                { data: "name", autoWidth: true },
				{ data: "lastname", autoWidth: true },
                { data: "email", autoWidth: true },
                { data: "password", autoWidth: true },
				{ data: "city", autoWidth: true },
                { data: "address", autoWidth: true },
                { data: "zip", autoWidth: true },
                { data: "phone", autoWidth: true },
				{
					data: "id_Member",
					render: function (data) {
						return `<a class="btn btn-secondary" href="/Member/Edit/${data}">Edit</a> 
                            <a class="btn btn-info" href="/Member/Details/${data}">Details</a> 
                            <a class="btn-danger btn" href="/Member/Delete/${data}">Delete</a>`
					},
					autoWidth: true
				}
			],
		});
        //-------------
        // Signal R
        let connection = new signalR.HubConnectionBuilder().withUrl("/signalrhub", {
            skipNegotiation: true,
            transport: signalR.HttpTransportType.WebSockets
        }).build();

        connection.start()
            .then(function () {
                console.log('connection started');
            })
            .catch(error => {
                console.error(error.message);
            });

        connection.on(("MemberModConnection"), function () {
            table.ajax.reload();
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["info"]("", "New changes have been made")

        });
    </script>
}
