@model Library7.Models.Loan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Loan" />
            <div class="form-group">
                <label asp-for="Id_Book" class="control-label"></label>
                <select asp-for="Id_Book" asp-items="@ViewBag.Books"></select>
                <span asp-validation-for="Id_Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Member" class="control-label"></label>
                <select asp-for="Id_Member" asp-items="@ViewBag.Members"></select>
                <span asp-validation-for="Id_Member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label">
                    <input asp-for="DueDate" class="form-control" />
                </label>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finished" class="control-label"></label>
                <input asp-for="Finished"  />
                <span asp-validation-for="Finished" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
