@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
	<button class="btn btn-dark" onclick="Reload()">Reload</button>
</p>
<table class="table display" id="IndxTbl">
	<thead>
		<tr>
			<th>Section</th>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
</table>
@section Scripts{
	<script>
		
			var table = $('#IndxTbl').DataTable({
				ajax: {
					url: '@Url.Action("GetAll", "Section")',
					dataSrc: '',
				},
				columns: [
					{ data: "id_Section", autoWidth: true },
					{ data: "name", autoWidth: true },
					{
						data: "id_Section",
						render: function (data) {
							return `<a class="btn btn-secondary" href="/Section/Edit/${data}">Edit</a> 
								<a class="btn btn-info" href="/Section/Details/${data}">Details</a> 
								<a class="btn-danger btn" href="/Section/Delete/${data}">Delete</a>`
						},
						autoWidth: true
					}
				],
			});		
		//-------------
		// Signal R
		let connection = new signalR.HubConnectionBuilder().withUrl("/signalrhub", {
			skipNegotiation: true,
			transport: signalR.HttpTransportType.WebSockets
		}).build();

		connection.start()
			.then(function () {
				console.log('connection started');
			})
			.catch(error => {
				console.error(error.message);
			});

		connection.on(("SectionModConnection"), function () {
			table.ajax.reload();
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"newestOnTop": true,
				"progressBar": true,
				"positionClass": "toast-bottom-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "10000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			toastr["info"]("", "New changes have been made")
		});
	</script>
}
